.infoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 4rem;
  font-family: "Montserrat","Roboto";
  margin-right: 6rem;
  margin-left: 6rem;
}

.infoSubContainer {
  display: grid;
  grid-template-rows: 3rem 7rem 7rem;
  justify-content: center;
}

.infoHeaderText {
  font-family: "Cormorant Garamond";
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
}
.infoContainer h2 {
  font-size: 1rem;
  font-weight: 500;
}

.infoContainer p {
  margin: .3rem 0 .3rem 0;
  padding: 0;
}

.infoContainer h2 {
  margin: 1rem 0 0 0;
  padding: 0;
}