.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.offerText {
  font-family: 'Cormorant Garamond';
  font-size: 35px;
  font-weight: 700!important;
  font-style: normal;
  text-align: center;
  margin-bottom: .2em;
}

.heartContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.heartLine {
  align-self: center;
  width: 3.5em;
}

.heartTextTwo {
  font-size: 14px;
  color: #8f8f8f;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  column-gap: 5em;
  align-self: center;
  text-align: center;
}

.statementContainer {
  width: 15em;
  margin: auto;
}

.statementText {
  font-family: 'Cormorant Garamond' !important;
  font-size: 2em;
  font-weight: 700!important;
  font-style: italic;
  margin-top: 1em;
}

.statementSubText {
  display: flex;
  font-size: 14px;
}

.offerImage {
  border-radius: 50%;
}
