.navBar {
  font-family: 'Roboto','Montserrat', 'Raleway', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navBrand {
  margin-left: 4rem;
  height: 35px;
  width: 35px
}

.navItem {
  color: rgb(61 61 61 / 69%);
  text-decoration: none;
  margin-right: 2rem;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navItemOrder {
  color: rgb(61 61 61 / 69%);
  text-decoration: none;
  margin-right: 2rem;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}